<a href="https://colab.research.google.com/github/cromcruach52/Pandas-Numpy-References/blob/main/Module_2_Activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 1: Data Wranggling

In [ ]:
# Link: https://archive.ics.uci.edu/dataset/45/heart+disease

In [ ]:
import pandas as pd

In [ ]:
heart_disease_data = pd.read_csv('Heart_Disease.csv')

In [ ]:
heart_disease_data

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,Male,Atypical angina,140,221,Lower than 120 mg/ml,ST-T wave abnormality,164,Yes,0.0,Downsloping,Zero,Fixed Defect,1
1021,60,Male,Typical angina,125,258,Lower than 120 mg/ml,Normal,141,Yes,2.8,Flat,One,Reversable Defect,0
1022,47,Male,Typical angina,110,275,Lower than 120 mg/ml,Normal,118,Yes,1.0,Flat,One,Fixed Defect,0
1023,50,Female,Typical angina,110,254,Lower than 120 mg/ml,Normal,159,No,0.0,Downsloping,Zero,Fixed Defect,1
1024,54,Male,Typical angina,120,188,Lower than 120 mg/ml,ST-T wave abnormality,113,No,1.4,Flat,One,Reversable Defect,0

In [ ]:
# Link: https://archive.ics.uci.edu/dataset/45/heart+disease

In [ ]:
heart_disease_data_cleaned = heart_disease_data.dropna()

In [ ]:
heart_disease_data_cleaned

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,Male,Atypical angina,140,221,Lower than 120 mg/ml,ST-T wave abnormality,164,Yes,0.0,Downsloping,Zero,Fixed Defect,1
1021,60,Male,Typical angina,125,258,Lower than 120 mg/ml,Normal,141,Yes,2.8,Flat,One,Reversable Defect,0
1022,47,Male,Typical angina,110,275,Lower than 120 mg/ml,Normal,118,Yes,1.0,Flat,One,Fixed Defect,0
1023,50,Female,Typical angina,110,254,Lower than 120 mg/ml,Normal,159,No,0.0,Downsloping,Zero,Fixed Defect,1
1024,54,Male,Typical angina,120,188,Lower than 120 mg/ml,ST-T wave abnormality,113,No,1.4,Flat,One,Reversable Defect,0

# Activity 2: Handling Missing Values and Duplicates

# 2.1 Handling Missing Values

In [ ]:
heart_disease_missing_val = heart_disease_data.isnull().sum()

In [ ]:
heart_disease_missing_val

age                              0
sex                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
dtype: int64

# 2.2 Handling Duplicates

In [ ]:
# Link: https://archive.ics.uci.edu/dataset/45/heart+disease

In [ ]:
heart_disease_duplicate_rows = heart_disease_data.duplicated()

In [ ]:
# 2.1.1 Handling Duplicates

In [ ]:
# using 'print', it outputs the number of how many duplicates there are.

In [ ]:
print("Number of Duplicate Rows:", heart_disease_duplicate_rows.sum())

Number of Duplicate Rows: 723

In [ ]:
# 2.1.2 Handling Duplicates

In [ ]:
# inputting 'heart_disease_duplicate_rows' straight, then running it from there, it outputs all the data by number, then outputs True or False to check if there is a duplicate row.

In [ ]:
heart_disease_duplicate_rows

0       False
1       False
2       False
3       False
4       False
        ...
1020     True
1021     True
1022     True
1023     True
1024     True
Length: 1025, dtype: bool

In [ ]:
# 2.1.3 Handling Duplicates

In [ ]:
# identifying all occurences for all duplicate in the data

In [ ]:
heart_disease_duplicate_rows = heart_disease_data[duplicate_rows]
print("\nDuplicate Rows (all occurences):")
print(heart_disease_duplicate_rows)

Duplicate Rows (all occurences):
      age     sex   chest_pain_type  resting_blood_pressure  cholestoral  \
15     34  Female   Atypical angina                     118          210
31     50  Female   Atypical angina                     120          244
43     46    Male    Typical angina                     120          249
55     55    Male    Typical angina                     140          217
61     66  Female  Non-anginal pain                     146          278
...   ...     ...               ...                     ...          ...
1020   59    Male   Atypical angina                     140          221
1021   60    Male    Typical angina                     125          258
1022   47    Male    Typical angina                     110          275
1023   50  Female    Typical angina                     110          254
1024   54    Male    Typical angina                     120          188

       fasting_blood_sugar               rest_ecg  Max_heart_rate  \
15    Lower than 120 mg/ml  ST-T wave abnormality             192
31    Lower than 120 mg/ml  ST-T wave abnormality             162
43    Lower than 120 mg/ml                 Normal             144
55    Lower than 120 mg/ml  ST-T wave abnormality             111
61    Lower than 120 mg/ml                 Normal             152
...                    ...                    ...             ...
1020  Lower than 120 mg/ml  ST-T wave abnormality             164
1021  Lower than 120 mg/ml                 Normal             141
1022  Lower than 120 mg/ml                 Normal             118
1023  Lower than 120 mg/ml                 Normal             159
1024  Lower than 120 mg/ml  ST-T wave abnormality             113

     exercise_induced_angina  oldpeak        slope  \
15                        No      0.7  Downsloping
31                        No      1.1  Downsloping
43                        No      0.8  Downsloping
55                       Yes      5.6    Upsloping
61                        No      0.0         Flat
...                      ...      ...          ...
1020                     Yes      0.0  Downsloping
1021                     Yes      2.8         Flat
1022                     Yes      1.0         Flat
1023                      No      0.0  Downsloping
1024                      No      1.4         Flat

     vessels_colored_by_flourosopy        thalassemia  target
15                            Zero       Fixed Defect       1
31                            Zero       Fixed Defect       1
43                            Zero  Reversable Defect       0
55                            Zero  Reversable Defect       0
61                             One       Fixed Defect       1
...                            ...                ...     ...
1020                          Zero       Fixed Defect       1
1021                           One  Reversable Defect       0
1022                           One       Fixed Defect       0
1023                          Zero       Fixed Defect       1
1024                           One  Reversable Defect       0

[723 rows x 14 columns]

In [ ]:
# 2.1.1.1 Removing duplicate rows

In [ ]:
# using 'drop_duplicates', this will remove all data occurences with duplicates.

In [ ]:
heart_disease_data_drop_dup = heart_disease_data.drop_duplicates()

In [ ]:
print("\nHeart Disease Data after dropping dupplicates:\n")
print(heart_disease_data_drop_dup)

Heart Disease Data after dropping dupplicates:

     age     sex   chest_pain_type  resting_blood_pressure  cholestoral  \
0     52    Male    Typical angina                     125          212
1     53    Male    Typical angina                     140          203
2     70    Male    Typical angina                     145          174
3     61    Male    Typical angina                     148          203
4     62  Female    Typical angina                     138          294
..   ...     ...               ...                     ...          ...
723   68  Female  Non-anginal pain                     120          211
733   44  Female  Non-anginal pain                     108          141
739   52    Male    Typical angina                     128          255
843   59    Male      Asymptomatic                     160          273
878   54    Male    Typical angina                     120          188

        fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0      Lower than 120 mg/ml  ST-T wave abnormality             168
1    Greater than 120 mg/ml                 Normal             155
2      Lower than 120 mg/ml  ST-T wave abnormality             125
3      Lower than 120 mg/ml  ST-T wave abnormality             161
4    Greater than 120 mg/ml  ST-T wave abnormality             106
..                      ...                    ...             ...
723    Lower than 120 mg/ml                 Normal             115
733    Lower than 120 mg/ml  ST-T wave abnormality             175
739    Lower than 120 mg/ml  ST-T wave abnormality             161
843    Lower than 120 mg/ml                 Normal             125
878    Lower than 120 mg/ml  ST-T wave abnormality             113

    exercise_induced_angina  oldpeak        slope  \
0                        No      1.0  Downsloping
1                       Yes      3.1    Upsloping
2                       Yes      2.6    Upsloping
3                        No      0.0  Downsloping
4                        No      1.9         Flat
..                      ...      ...          ...
723                      No      1.5         Flat
733                      No      0.6         Flat
739                     Yes      0.0  Downsloping
843                      No      0.0  Downsloping
878                      No      1.4         Flat

    vessels_colored_by_flourosopy        thalassemia  target
0                             Two  Reversable Defect       0
1                            Zero  Reversable Defect       0
2                            Zero  Reversable Defect       0
3                             One  Reversable Defect       0
4                           Three       Fixed Defect       0
..                            ...                ...     ...
723                          Zero       Fixed Defect       1
733                          Zero       Fixed Defect       1
739                           One  Reversable Defect       0
843                          Zero       Fixed Defect       0
878                           One  Reversable Defect       0

[302 rows x 14 columns]

# Data Wranggling and Preprocessing Activity

#  Activity 3: Data Collection and Inspection

In [ ]:
# https://archive.ics.uci.edu/dataset/186/wine+quality

In [ ]:
import pandas as pd

In [ ]:
wine_quality_red = pd.read_csv('winequality-red.csv', delimiter =';', quoting =1)

In [ ]:
wine_quality_red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

# Activity 4: Handling Missing Values and Duplicates

# 4.1 Handling Missing Values

In [ ]:
# Link: https://archive.ics.uci.edu/dataset/186/wine+quality

In [ ]:
# 2.1.1 Handling Missing Values with .sum()

In [ ]:
wine_quality_red_missing_val = wine_quality_red.isnull().sum()

In [ ]:
wine_quality_red_missing_val

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

# 4.2 Handling Duplicates

In [ ]:
# Link: https://archive.ics.uci.edu/dataset/186/wine+quality

In [ ]:
wine_quality_red_duplicate_rows = wine_quality_red.duplicated()

In [ ]:
# 4.1.1 Handling Duplicates

In [ ]:
#using 'print', it outputs the number of how many duplicates there are.

In [ ]:
print("Number of Duplicate Rows:", wine_quality_red_duplicate_rows.sum())

Number of Duplicate Rows: 240

In [ ]:
# 4.1.2 Handling Duplicates

In [ ]:
#inputting 'wine_quality_red_duplicate_rows' straight, then running it from there, it outputs all the data by number, then outputs True or False to check if there is a duplicate row.

In [ ]:
wine_quality_red_duplicate_rows

0       False
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596     True
1597    False
1598    False
Length: 1599, dtype: bool

In [ ]:
# 4.1.1.1 Removing Duplicate rows

In [ ]:
# using 'drop_duplicates', this will remove all data occurences with duplicates.

In [ ]:
wine_quality_red_drop_dup = wine_quality_red.drop_duplicates()

In [ ]:
print("\nHeart Disease Data after dropping Duplicates:\n")
print(wine_quality_red_drop_dup)

Heart Disease Data after dropping Duplicates:

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
5               7.4             0.660         0.00             1.8      0.075
...             ...               ...          ...             ...        ...
1593            6.8             0.620         0.08             1.9      0.068
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
5                    13.0                  40.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1593                 28.0                  38.0  0.99651  3.42       0.82
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
5         9.4        5
...       ...      ...
1593      9.5        6
1594     10.5        5
1595     11.2        6
1597     10.2        5
1598     11.0        6

[1359 rows x 12 columns]

# Activity 5: Feature Engineering - Creating New Features

In [ ]:
# Link: # Link: https://archive.ics.uci.edu/dataset/186/wine+quality

In [ ]:
import pandas as pd

In [ ]:
wine_quality = pd.read_csv("winequality-red.csv", delimiter=";", quoting=1)

In [ ]:
wine_quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
# Creating Total Acidity with the sum of Fixed Acidity and Volatile Acidity

In [ ]:
Total_Acidity = wine_quality['fixed acidity'] + wine_quality['volatile acidity']

In [ ]:
df = pd.DataFrame(Total_Acidity)

In [ ]:
print(df)

           0
0      8.100
1      8.680
2      8.560
3     11.480
4      8.100
...      ...
1594   6.800
1595   6.450
1596   6.810
1597   6.545
1598   6.310

[1599 rows x 1 columns]

In [ ]:
# Showing All Quality

In [ ]:
wine_quality['wine_quality'] = (wine_quality['quality'] >= 7).astype(int)
wine_quality['quality_rating'] = wine_quality['wine_quality'].map({1: 'Good', 0: 'Bad'})

In [ ]:
print(wine_quality[['quality', 'wine_quality', 'quality_rating']])

      quality  wine_quality quality_rating
0           5             0            Bad
1           5             0            Bad
2           5             0            Bad
3           6             0            Bad
4           5             0            Bad
...       ...           ...            ...
1594        5             0            Bad
1595        6             0            Bad
1596        6             0            Bad
1597        5             0            Bad
1598        6             0            Bad

[1599 rows x 3 columns]

In [ ]:
# Only showing good quality

In [ ]:
good_quality_df = wine_quality[wine_quality['wine_quality'] == 1]
print(good_quality_df[['fixed acidity', 'volatile acidity', 'quality', 'wine_quality', 'quality_rating']])

      fixed acidity  volatile acidity  quality  wine_quality quality_rating
7               7.3              0.65        7             1           Good
8               7.8              0.58        7             1           Good
16              8.5              0.28        7             1           Good
37              8.1              0.38        7             1           Good
62              7.5              0.52        7             1           Good
...             ...               ...      ...           ...            ...
1541            7.4              0.25        7             1           Good
1544            8.4              0.37        7             1           Good
1549            7.4              0.36        8             1           Good
1555            7.0              0.56        7             1           Good
1584            6.7              0.32        7             1           Good

[217 rows x 5 columns]

In [ ]:
# Only showing bad quality

In [ ]:
good_quality_df = wine_quality[wine_quality['wine_quality'] == 0]
print(good_quality_df[['fixed acidity', 'volatile acidity', 'quality', 'wine_quality', 'quality_rating']])

      fixed acidity  volatile acidity  quality  wine_quality quality_rating
0               7.4             0.700        5             0            Bad
1               7.8             0.880        5             0            Bad
2               7.8             0.760        5             0            Bad
3              11.2             0.280        6             0            Bad
4               7.4             0.700        5             0            Bad
...             ...               ...      ...           ...            ...
1594            6.2             0.600        5             0            Bad
1595            5.9             0.550        6             0            Bad
1596            6.3             0.510        6             0            Bad
1597            5.9             0.645        5             0            Bad
1598            6.0             0.310        6             0            Bad

[1382 rows x 5 columns]